TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=T8sa50y55QHerZn-UyxbiZceKc0G70ls
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=