<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>

    @vite([
        'resources/assets/css/style.css',
        'resources/assets/vendors/mdi/css/materialdesignicons.min.css', 
        'resources/assets/vendors/css/vendor.bundle.base.css', 
    ])
    
    <link rel="shortcut icon" href="{{ asset('resources/assets/images/favicon.png') }}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      @include('partials/_sidebar')
      <!-- partial -->

      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        @include('partials/_navbar')
        <!-- partial -->

        <div class="main-panel">
          <div class="content-wrapper">

            <!-- init content -->
            {{{ await $slots.main() }}}
            <!-- end content -->

          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          @include('partials/_footer')
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    @vite([
        'resources/assets/vendors/js/vendor.bundle.base.js',
        'resources/assets/js/off-canvas.js', 
        'resources/assets/js/hoverable-collapse.js', 
        'resources/assets/js/misc.js', 
        'resources/assets/js/settings.js', 
        'resources/assets/js/todolist.js', 
    ])
    
  </body>
</html>
